<template>
  <button :class="buttonClass" :disabled="disabled" type="button" :aria-label="ariaLabel">
    <slot />
  </button>
</template>

<script setup lang="ts">
import { computed, type PropType } from 'vue'
import type { ButtonRounded, ButtonVariant } from './Button.types.d.ts'
import config from './Button.config'

const props = defineProps({
  disabled: {
    type: Boolean,
    default: false,
  },
  ariaLabel: {
    type: String,
    default: '',
  },
  variant: {
    type: String as PropType<ButtonVariant>,
    default: () => config.default.variant,
    validator(value: ButtonVariant) {
      return [...config.variant].includes(value)
    },
  },
  isRounded: {
    type: Boolean as PropType<ButtonRounded>,
    default: () => config.default.isRounded,
  }
})

const buttonClass = computed(() => [
  'u-btn',
  `u-btn--${props.variant}`,
  `${props.isRounded ? 'u-btn--rounded' : ''}`,
])
</script>

<style lang="scss" src="./Button.styles.scss" />