@use '../../../assets/css/color.scss' as *;

.u-btn {
  appearance: none;
  font-family: 'Gilroy-Medium', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  gap: 10px;
  height: 48px;
  background: $primary-color;
  color: white;
  flex: none;
  flex-grow: 0;
  cursor: pointer;
  border: none;
  border-radius: 8px;



  background-color: $primary-color;
  transition: all .15s ease;

  &:hover,
  &:hover:focus {
    opacity: 0.7;
  }

  &:disabled,
  &[aria-disabled='true'],
  &[aria-disabled='true']:is(:hover, :hover:focus, :focus, :active, :active:focus) {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.u-btn--rounded {
  border-radius: 9999px;
}

.u-btn--outline {
  background: transparent;
  color: $primary-color;
  border: solid 1.5px $primary-color;
}
