<template>
  <svg :width="size" :height="size" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg" v-bind="$attrs">
    <path d="M6.66669 23.1666H25.3334M6.66669 16.4999H25.3334M6.66669 9.83325H25.3334" stroke="#00171F" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</template>

<script setup lang="ts">
defineProps({
  size: {
    type: String,
    default: '24',
  },
})
</script>