<template>
  <svg xmlns="http://www.w3.org/2000/svg" :width="size" :height="size" viewBox="0 0 20 20" fill="none" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-play">
    <path
      d="M3.76817 10.1406L5.6666 9.44916C5.7252 9.42576 5.79551 9.41404 5.86578 9.41404H18.0298C18.358 9.41404 18.6158 9.67181 18.6158 9.99998V18.2422C18.6158 19.2148 17.8307 20 16.858 20H5.13922C4.16653 20 3.38141 19.2148 3.38141 18.2422V10.6913C3.38141 10.4453 3.53379 10.2226 3.76817 10.1406Z"
      fill="#FC1A40" />
    <path
      d="M3.38141 10.6913V18.2422C3.38141 19.2148 4.16653 20 5.13922 20H10.9986V9.41404H5.86578C5.79547 9.41404 5.72516 9.42576 5.6666 9.44916L3.76817 10.1406C3.53379 10.2226 3.38141 10.4453 3.38141 10.6913Z"
      fill="#C60034" />
    <path
      d="M3.59235 3.81984C3.79153 3.01125 4.38922 2.37848 5.19782 2.12063C5.99469 1.87449 6.8502 2.05031 7.47126 2.61277L8.83067 3.80813L9.10016 2.0152C9.22907 1.19488 9.75641 0.503438 10.5415 0.175352C10.6939 0.116719 10.8462 0.0698442 10.9986 0.0464067C11.6431 -0.0824995 12.3111 0.0581254 12.8502 0.456602C13.565 0.972227 13.9282 1.83941 13.8111 2.70656C13.6822 3.57375 13.0962 4.31203 12.2642 4.605L10.9986 5.06203L9.43997 5.63625C9.42825 5.63625 9.42825 5.63625 9.42825 5.63625L6.72122 6.63231C6.45172 6.72609 6.17047 6.77301 5.90094 6.77301C5.32665 6.77301 4.76418 6.56199 4.31887 6.16359C3.66266 5.57766 3.38141 4.67527 3.59235 3.81984Z"
      fill="#FE9923" />
    <path
      d="M4.31891 6.1636C4.76422 6.562 5.32672 6.77301 5.90098 6.77301C6.17047 6.77301 6.45172 6.7261 6.72125 6.63231L9.42828 5.63625C9.42828 5.63625 9.42828 5.63625 9.44 5.63625L10.9986 5.06204V0.0463715C10.8463 0.069848 10.6939 0.116684 10.5416 0.175317C9.75645 0.503403 9.22906 1.19485 9.1002 2.01516L8.8307 3.80809L7.47129 2.61274C6.85024 2.05028 5.99473 1.87446 5.19785 2.12059C4.38926 2.37844 3.7916 3.01122 3.59239 3.81981C3.38141 4.67528 3.66266 5.57766 4.31891 6.1636Z"
      fill="#FE8821" />
    <path
      d="M1.37752 9.14445L2.17439 11.3476C2.26818 11.582 2.49084 11.7226 2.72521 11.7226C2.79553 11.7226 2.86584 11.7109 2.92439 11.6875L8.98303 9.48433L9.53377 7.66793L10.9986 7.99601L12.2876 8.28898L18.3463 6.08586C18.651 5.96871 18.8033 5.62883 18.6978 5.33586L17.8892 3.13281C17.7369 2.6875 17.4087 2.33586 16.9869 2.13668C16.565 1.9375 16.0845 1.91402 15.6392 2.07808L10.9986 3.76558L10.6821 3.88273C10.6821 3.88273 9.41654 6.17965 9.38135 6.17965C9.35787 6.17965 8.854 5.8984 8.36182 5.62883C7.86975 5.3593 7.37752 5.07808 7.37752 5.07808L2.43225 6.88273C1.98693 7.0468 1.63537 7.37496 1.43619 7.79683C1.23689 8.21867 1.2135 8.69918 1.37752 9.14445Z"
      fill="#FF3E75" />
    <path
      d="M1.3775 9.14446L2.17438 11.3476C2.26817 11.582 2.49082 11.7226 2.7252 11.7226C2.79551 11.7226 2.86582 11.7109 2.92438 11.6875L8.98301 9.48434L9.53375 7.66794L10.9986 7.99602V3.76559L10.6822 3.88274C10.6822 3.88274 9.41656 6.17966 9.38137 6.17966C9.35789 6.17966 8.85403 5.89841 8.36184 5.62884C7.86973 5.35931 7.3775 5.07809 7.3775 5.07809L2.43223 6.88274C1.98692 7.04681 1.63535 7.37497 1.43617 7.79684C1.23688 8.21868 1.21348 8.69919 1.3775 9.14446Z"
      fill="#FC1A40" />
    <path d="M12.7564 9.41404V20H9.24078V9.41404H12.7564V9.41404Z" fill="#FCBF29" />
    <path
      d="M10.6822 3.88274L10.9986 4.74993L12.2877 8.28903L10.9986 8.75782L9.53379 9.28517L8.98305 9.48435L7.3775 5.0781L10.6822 3.88274Z"
      fill="#FCBF29" />
    <path d="M9.2406 9.41404H10.9984V20H9.2406V9.41404Z" fill="#FE9923" />
    <path d="M7.3775 5.0781L8.98301 9.48435L9.53375 9.28513L10.9986 8.75778V4.74993L10.6822 3.88274L7.3775 5.0781Z"
      fill="#FE9923" />
  </svg>
</template>

<script setup lang="ts">
defineProps({
  size: {
    type: String,
    default: '24',
  },
})
</script>
