<template>
  <div class="u-input-wrapper">
    <CommonNavbar />
    <SectionHero />
    <SectionLatestPets />
    <SectionPromoBanner />
    <SectionProducts />
    <SectionPartner />
    <SectionAdoptionBanner />
    <SectionBlogs />
    <CommonFooter />
  </div>
</template>

<script setup lang="ts">
useHead({
  htmlAttrs: {
    lang: 'en'
  },
})

useSeoMeta({
  title: 'Monito - Your Ultimate Pet Shop',
  ogTitle: 'Monito - Your Ultimate Pet Shop',
  description: 'Experience the joy of pet ownership with Monito. Explore our diverse range of 200+ pets and find your perfect companion. Monito - bringing happiness to your home with the perfect pet.',
  ogDescription: 'Experience the joy of pet ownership with Monito. Explore our diverse range of 200+ pets and find your perfect companion. Monito - bringing happiness to your home with the perfect pet.',
  ogImage: 'https://petshop-lovat-theta.vercel.app/image/hero/person.png',
})
</script>