<template>
  <div class="card-wrapper">
    <UCardBlog 
      v-for="item in props.data"
      :key="item.title"
      :tag="item.tag"
      :title="item.title"
      :description="item.description"
      :image="item.image"
  />
  </div>
</template>

<script setup lang="ts">
type CardBlogListType = {
  tag: string,
  title: string,
  description: string,
  image: string,
}

const props = defineProps({
  data: {
    type: Array as PropType<Array<CardBlogListType>>,
    required: true,
  },


})
</script>

<style lang="scss" scoped>
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>