<template>
  <article class="card">
    <figure class="card-image">
      <img :src="$props.image" :alt="$props.title" />
    </figure>
    <article class="card-content">
      <span class="card-tag">
        {{ tag }}
      </span>
      <h2 class="card-title">
        {{ title }}
      </h2>
      <p class="card-description">
        {{ description }}
      </p>
    </article>
  </article>
</template>

<script setup lang="ts">
defineProps({
  tag: {
    type: String,
    required: true,
  },
  title: {
    type: String,
    required: true,
  },
  description: {
    type: String,
    required: true,
  },
  image: {
    type: String,
    required: true,
  },
})
</script>


<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.card {
  background: white;
  padding: 8px 8px 16px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.16);
  }
}

.card-tag {
  background-color: #00A7E7;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  padding: 2px 10px;
  font-weight: bold;
  border-radius: 20;
}

.card-image {
  width: 100%;

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0 8px;
}

.card-title {
  margin: 0;
  font-size: 16px;
  color: $text-black;
}

.card-description {
  font-size: 14px;
  color: $text-body;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}



@media (max-width: 768px) {
  .card-title {
    font-size: 14px;
  }

  .card-info {
    flex-direction: column;
  }

  .card-info-separator {
    display: none;
  }

  .card-price {
    font-size: 16px;
    ;
  }


  .card-content {
    padding: 0;
  }

}
</style>