<template>
  <div class="card-wrapper">
    <UCard 
      v-for="item in props.data"
      :key="item.name"
      :name="item.name"
      :price="item.price"
      :image="item.image"
      :firstInfoTitle="firstInfoTitle"
      :firstInfoItem="item.firstInfoItem"
      :secondInfoTitle="secondInfoTitle"
      :secondInfoItem="item.secondInfoItem"
      :bonus="item.bonus"
  />
  </div>
</template>

<script setup lang="ts">
type CardListType = {
  name: string,
  price: string,
  image: string,
  firstInfoItem: string,
  secondInfoItem?: string,
  bonus?: string,
}

const props = defineProps({
  data: {
    type: Array as PropType<Array<CardListType>>,
    required: true,
  },
  firstInfoTitle: {
    type: String,
    required: true,
  },
  secondInfoTitle: {
    type: String,
    required: true,
  },

})
</script>

<style lang="scss" scoped>
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media (max-width: 1024px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
</style>