<template>
  <article class="card">
    <figure class="card-image">
      <img :src="$props.image" :alt="$props.name" />
    </figure>
    <div class="card-content">
      <h3 class="card-title">{{ name }}</h3>
      <div class="card-info">
        <div class="card-info-item">
          {{ firstInfoTitle }}: <b>{{ firstInfoItem }}</b>
        </div>
        <template v-if="secondInfoItem">
          <span class="card-info-separator">•</span>
          <div class="card-info-item">
            {{ secondInfoTitle }}: <b>{{ secondInfoItem }}</b>
          </div>
        </template>

      </div>
      <p class="card-price">{{ price }}</p>
      <p v-if="bonus" class="card-bonus">
        <IconGift />
        <span class="card-info-separator">•</span>
        {{ bonus }}
      </p>
    </div>
  </article>
</template>

<script setup lang="ts">
defineProps({
  name: {
    type: String,
    required: true,
  },
  price: {
    type: String,
    required: true,
  },
  image: {
    type: String,
    required: true,
  },
  firstInfoTitle: {
    type: String,
    required: true,
  },
  firstInfoItem: {
    type: String,
    required: true,
  },
  secondInfoTitle: {
    type: String,
    required: true,
  },
  secondInfoItem: {
    type: String,
    required: false,
  },
  bonus: {
    type: String,
    required: false,
  },
})
</script>
<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.card {
  background: white;
  padding: 8px 8px 16px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.16);
  }
}

.card-bonus {
  padding: 6px 10px;
  background: #FCEED5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 700;
  color: $text-primary;
}

.card-image {
  width: 100%;

  img {
    width: 100%;
    border-radius: 8px;

  }
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
}

.card-title {
  margin: 0;
  font-size: 16px;
  color: $text-black;
}

.card-info {
  font-size: 12px;
  color: $text-description;
  display: flex;
  gap: 8px;
}


.card-price {
  font-size: 14px;
  color: $text-black;
  margin: 0;
  font-weight: 700;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 14px;
  }

  .card-info {
    flex-direction: column;
  }

  .card-info-separator {
    display: none;
  }

  .card-price {
    font-size: 16px;
    ;
  }


  .card-content {
    padding: 0;
  }

}
</style>