<template>
  <footer class="site-footer">
    <section class="container">

      <section class="subscription-section">
        <h2 class="subscription-prompt">
          Register now so you don't miss our programs
        </h2>
        <form class="subscription-form" aria-label="Subscription Form">
          <UInput placeholder="Enter your email" aria-label="Email Address" />
          <UButton type="submit" :is-rounded="false">Subscribe Now</UButton>
        </form>
      </section>

      <nav class="footer-nav" role="navigation" aria-label="Footer Navigation">
        <ul class="nav__links">
          <li>
            <NuxtLink to="/" aria-label="Home">Home</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/Category" aria-label="Category">Category</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/About" aria-label="About">About</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/Contact" aria-label="Contact">Contact</NuxtLink>
          </li>
        </ul>

        <div class="social-icons" aria-label="Social Media Links">
          <NuxtLink to="/" aria-label="Facebook">
            <IconSocialIconFacebook />
          </NuxtLink>
          <NuxtLink to="/" aria-label="Instagram">
            <IconSocialIconInstagram />
          </NuxtLink>
          <NuxtLink to="/" aria-label="X Social Media">
            <IconSocialIconX />
          </NuxtLink>
          <NuxtLink to="/" aria-label="Youtube">
            <IconSocialIconYoutube />
          </NuxtLink>
        </div>
      </nav>

      <section class="footer-info">
        <p class="copyright">© 2022 Monito. All rights reserved.</p>
        <div class="logo">
          <img src="/image/logo.svg" alt="Monito Logo" />
        </div>
        <ul class="legal-links">
          <li>
            <NuxtLink to="/terms-of-service" aria-label="Terms of Service">Terms of Service</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/privacy-policy" aria-label="Privacy Policy">Privacy Policy</NuxtLink>
          </li>
        </ul>
      </section>

      <section class="footer-info-mobile">
        <div class="logo">
          <img src="/image/logo.svg" alt="Monito Logo" />
        </div>
        <ul class="legal-links">
          <li>
            <NuxtLink to="/terms-of-service" aria-label="Terms of Service">Terms of Service</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/privacy-policy" aria-label="Privacy Policy">Privacy Policy</NuxtLink>
          </li>
        </ul>
        <p class="copyright">© 2022 Monito. All rights reserved.</p>
      </section>
    </section>
  </footer>
</template>



<style lang="scss" scoped>
.footer-info-mobile {
  display: none;
}

.site-footer {
  background: #FCEED5;
  padding-top: 80px;
}

.subscription-section {
  padding: 32px;
  background: #003459;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.subscription-prompt {
  font-size: 24px;
  font-weight: 700;
  color: white;
  flex: 1;
  /* Add your styles for the subscription prompt here */
}

.subscription-form {
  display: flex;
  gap: 12px;
  align-items: center;
  background: white;
  border-radius: 14px;
  padding: 12px;
  flex: 1;
  /* Add your styles for the subscription form here */
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  border-bottom: 1px solid #DEDCD3;
}

.nav__links {
  display: flex;
  gap: 60px;
  color: 16px;
  list-style: none;

  a {
    color: #00171F;
    font-weight: 500;
  }
}

.social-icons {
  display: flex;
  gap: 40px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
  color: #667479;
  font-size: 14px;
}

.legal-links {
  display: flex;
  gap: 36px;
  list-style: none;
  font-size: 14px;


  a {
    color: #667479;
    font-weight: 500;

  }
}

@media screen and (max-width: 768px) {
  .footer-info-mobile {
    display: flex;
    flex-direction: column;
    color: #667479;
    font-size: 10px;
    padding-top: 36px;
    padding-bottom: 20px;
    align-items: center
  }

  .legal-links {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 12px;
  }

  .footer-info {
    display: none;
  }

  .subscription-section {
    flex-direction: column;
  }

  .subscription-prompt {
    font-size: 20px;
  }

  .footer-nav {
    flex-direction: column;
    gap: 20px;
  }

  .nav__links {
    gap: 30px;
  }
}
</style>

<style lang="scss">
.subscription-form {
  .u-input-wrapper {
    flex: 1;

    input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .subscription-form {
    flex-direction: column;
    width: 100%;

    .u-btn {
      width: 100%;


    }

    .u-input-wrapper {
      width: 100%;
    }
  }
}
</style>
