<template>
  <div class="dropdown">
    <IconLangViet />
    VND
    <IconArrowDown />
  </div>
</template>

<style lang="scss" scoped>
.dropdown {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}
</style>