<template>
  <section class="nav-modal" role="dialog" aria-modal="true" aria-labelledby="mobile-nav-label">
    <div class="nav-overlay" @click="handleCloseModal"></div>
    <aside class="nav" role="navigation" aria-label="Mobile Navigation">
      <h2 id="mobile-nav-label" class="visually-hidden">Mobile Navigation</h2>
      <UInput placeholder="Search something here" aria-label="Search">
        <template #icon>
          <IconSearch size="20" />
        </template>
      </UInput>
      <ul class="nav__links">
        <li>
          <NuxtLink to="/" aria-label="Home">Home</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/Category" aria-label="Category">Category</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/About" aria-label="About">About</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/Contact" aria-label="Contact">Contact</NuxtLink>
        </li>
      </ul>
    </aside>
  </section>
</template>

<script setup lang="ts">

const emit = defineEmits(['closeModal'])

const handleCloseModal = () => {
  emit('closeModal')
}
</script>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.nav {
  display: flex;
  padding: 12px 8px;
  flex-direction: column;

  position: relative;
  background: white;
  width: 300px;
  height: 100%;
  z-index: 102;
  padding: 12px 16px;

  &__links {
    list-style: none;
    margin-top: 24px;

    li {
      margin-bottom: 12px;
    }
  }
}

.nav-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

.nav-overlay {
  z-index: 101;
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
</style>
