<template>
  <header class="container navbar-wrapper">
    <CommonNavbarDesktop class="navbar-desktop" />
    <CommonNavbarMobile class="navbar-mobile" />
  </header>
</template>

<script setup lang="ts">

</script>

<style lang="scss" scoped>
.navbar-wrapper {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

</style>
