<template>
  <nav class="nav" role="navigation" aria-label="Mobile Navigation">
    <button aria-label="Open Menu">
      <IconHamburger size="32" @click="toggleModal" />
    </button>

    <a href="/">
      <img src="/image/logo.svg" alt="Monito Logo" />
    </a>
    <button aria-label="Open Search">
      <IconSearch size="23" color="#00171F" @click="toggleModal" />
    </button>

    <CommonNavbarMobileModal v-if="showModal" @closeModal="toggleModal" />
  </nav>
</template>
<script setup lang="ts">

const showModal = ref(false)

const toggleModal = () => {
  showModal.value = !showModal.value
}

</script>

<style lang="scss" scoped>

.nav {
  justify-content: space-between;
  padding: 12px 0;
}
</style>
