<template>
  <nav class="nav" role="navigation" aria-label="Main Navigation">
    <section class="nav__navigation">
      <a href="/">
        <img src="/image/logo.svg" alt="Monito Logo" />
      </a>
      <ul class="nav__links">
        <li>
          <NuxtLink to="/" aria-label="Home">Home</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/Category" aria-label="Category">Category</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/About" aria-label="About">About</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/Contact" aria-label="Contact">Contact</NuxtLink>
        </li>
      </ul>
    </section>
    <aside class="nav__action">
      <UInput placeholder="Search something here" :is-rounded="true" aria-label="Search">
        <template #icon>
          <IconSearch size="20" />
        </template>
      </UInput>
      <UButton aria-label="Join the community">
        Join the community
      </UButton>
      <CommonLanguageDropdown aria-label="Language selection" />
    </aside>
  </nav>
</template>

<script setup lang="ts">

</script>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';
.nav {
  padding: 28px 0;
  gap: 36px;
  justify-content: space-between;

  &__navigation {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  &__links {
    display: flex;
    gap: 48px;
    list-style: none;
  }

  &__action {
    display: flex;
    gap: 16px;
  }
}
</style>
