<template>
  <svg :width="size" :height="size" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1_1380)">
      <path
        d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
        fill="#D80027" />
      <path
        d="M11 7.17383L11.8634 9.83098H14.6573L12.3969 11.4732L13.2603 14.1304L11 12.4881L8.73969 14.1304L9.60306 11.4732L7.34275 9.83098H10.1366L11 7.17383Z"
        fill="#FFDA44" />
    </g>
    <defs>
      <clipPath id="clip0_1_1380">
        <rect width="16" height="16" fill="white" transform="translate(3 3)" />
      </clipPath>
    </defs>
  </svg>
</template>

<script setup lang="ts">
defineProps({
  size: {
    type: String,
    default: '24',
  },
})
</script>

