$primary-color: #003459;
$secondary-color: #FCEFD6;
$black: #000000;

$text-black: #00171F;
$text-primary: #002A48;
$text-description: #667479;
$text-body: #242B33;
$text-white: #FDFDFD;
$text-grey: #99A2A5;