@import './utility';
@import './color';

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');


// font-family: 'Gilroy-Bold', sans-serif;
// font-family: 'Gilroy-Heavy', sans-serif;
// font-family: 'Gilroy-Light', sans-serif;
// font-family: 'Gilroy-Medium', sans-serif;
// font-family: 'Gilroy-Regular', sans-serif;


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Gilroy-Medium', sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

html {
  background-color: #FDFDFD;
}


a {
  color: $primary-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}

ul,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}


body {
  margin: 0
}

.navbar-desktop {
  display: flex;
}

.navbar-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .navbar-desktop {
    display: none
  }

  .navbar-mobile {
    display: flex;
  }
}