<template>
  <section class="container latest-blogs-section">
    <p class="section-title">You already know ?</p>
    <article class="blogs-article">
      <h2 class="article-title">Useful pet knowledge</h2>
      <div class="view-more-button">
        <UButton variant="outline">
          View more
          <IconArrowRight />
        </UButton>
      </div>
    </article>
    <UCardBlogList :data="blogsData" />

    <div class="view-more-button-mobile">
      <UButton variant="outline">
        View more
        <IconArrowRight />
      </UButton>
    </div>

  </section>
</template>

<script setup lang="ts">
const blogsData = [
  {
    tag: 'Pet knowledge',
    title: 'What is a Pomeranian? How to Identify Pomeranian Dogs',
    description: 'The Pomeranian, also known as the Pomeranian (Pom dog), is always in the top of the cutest pets. Not only that, the small, lovely, smart, friendly, and skillful circus dog breed.',
    image: '/image/blog/image.png'
  },
  {
    tag: 'Pet knowledge',
    title: 'Dog Diet You Need To Know',
    description: `Dividing a dog's diet may seem simple at first, but there are some rules you should know so that your dog can easily absorb the nutrients in the diet. For those who are just starting to raise dogs, especially newborn puppies with relatively weak resistance.`,
    image: '/image/blog/image-1.png'
  },
  {
    tag: 'Pet knowledge',
    title: 'Why Dogs Bite and Destroy Furniture and How to Prevent It Effectively',
    description: 'Dog bites are common during development. However, no one wants to see their furniture or important items being bitten by a dog.',
    image: '/image/blog/image-2.png'
  },
]

</script>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.latest-blogs-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-size: 16px;
  color: $black;
  margin: 0;
  margin-bottom: 4px;
}

.article-title {
  font-size: 24px;
  margin: 0;
  color: $primary-color;
}

.blogs-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.view-more-button-mobile {
  display: none;
}

@media screen and (max-width: 768px) {

  .section-title {
    font-size: 14px;
  }

  .article-title {
    font-size: 20px;
  }

  .view-more-button {
    display: none;
  }

  .view-more-button-mobile {
    margin-top: 18px;
    display: block;

    button {
      width: 100%;
    }
  }

}
</style>