<template>
  <section class="hero-wrapper">
    <div class="container hero-section">
      <article class="hero-article">
        <h1 class="hero-title">One more friend</h1>
        <h2 class="hero-subtitle">Thousands more fun!</h2>
        <p class="hero-description">
          Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We
          have 200+ different pets that can meet your needs!
        </p>

        <div class="hero-buttons">
          <UButton variant="outline">
            View Intro
            <IconPlay />
          </UButton>
          <UButton>
            Explore Now
          </UButton>
        </div>
      </article>

      <figure class="hero-image">
        <img src="/image/hero/person.png" alt="hero" />
        <div class="decoration-wrapper">
          <div class="decoration-1"></div>
          <div class="decoration-2"></div>
        </div>
      </figure>
    </div>


  </section>
</template>

<script setup lang="ts">

</script>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.decoration-wrapper {
  position: absolute;
  bottom: -70px;
  right: 0;
  width: 700px;
  height: 500px;
}

.decoration-1 {
  width: 600px;
  position: absolute;
  height: 600px;
  border-radius: 99px;
  transform: rotate(25deg);
  top: 26px;
  left: 70px;
  z-index: 1;
  background: #F7DBA7;
}

.decoration-2 {
  width: 600px;
  height: 600px;
  border-radius: 99px;
  transform: rotate(9deg);
  position: absolute;
  top: 59px;
  left: 22px;
  background: $primary-color;
}

.hero-wrapper {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: $secondary-color;

}

.hero-section {
  display: flex;

}

.hero-article {
  width: 50%;
  position: relative;
  z-index: 5;
}

.hero-title {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  color: $text-primary;

}

.hero-subtitle {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 24px;
  color: $text-primary;

}

.hero-description {
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
  color: $text-body;
}

.hero-buttons {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.hero-image {
  /* Add your styles for the hero image here */
  width: 50%;
  margin: 0;

  img {
    position: absolute;
    width: 65vw;
    max-width: 800px;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
}

@media (max-width: 1280px) {

  .decoration-wrapper {
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 300px;
    left: 75%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {

  .hero-wrapper {
    height: initial;
    padding-top: 120px;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-title {
    font-size: 48px;
  }

  .hero-subtitle {
    font-size: 28px;

  }

  .hero-description {
    font-size: 12px;
  }

  .hero-article {
    width: 100%;
    text-align: center;
  }

  .hero-buttons {
    align-items: center;
    justify-content: center;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    img {
      width: 100%;
      position: relative;
      right: auto;
      bottom: auto;
    }
  }

  .decoration-wrapper {
    left: 42%;
  }

  .decoration-1 {
    width: 500px;
    position: absolute;
    height: 500px;
    border-radius: 99px;
    transform: rotate(25deg);
    top: 26px;
    right: 0;
    z-index: 1;
    background: #F7DBA7;
  }

  .decoration-2 {
    border-radius: 99px;
    transform: rotate(9deg);
    position: absolute;
    top: 59px;
    right: 0;
    background: #003459;
    width: 500px;
    height: 500px;
  }
}
</style>
