<template>
  <section class="container latest-pets-section">
    <p class="section-title">Whats new?</p>
    <article class="pets-article">
      <h2 class="article-title">Take a look at some of our pets</h2>
      <div class="view-more-button">
        <UButton variant="outline">
          View more
          <IconArrowRight />
        </UButton>
      </div>
    </article>
    <UCardList :data="petsData" first-info-title="Gene" second-info-title="Age" />

    <div class="view-more-button-mobile">
      <UButton variant="outline">
        View more
        <IconArrowRight />
      </UButton>
    </div>

  </section>
</template>

<script setup lang="ts">
const petsData = [
  {
    name: 'MO231 - Pomeranian White',
    price: '6.900.000 VND',
    image: '/image/pet/image.png',
    firstInfoItem: 'Male',
    secondInfoItem: '02 months',
  },
  {
    name: 'MO502 - Poodle Tiny Yellow',
    price: '3.900.000 VND',
    image: '/image/pet/image-1.png',
    firstInfoItem: 'Female',
    secondInfoItem: '02 months',
  },
  {
    name: 'MO102 - Poodle Tiny Sepia',
    price: '4.000.000 VND',
    image: '/image/pet/image-2.png',
    firstInfoItem: 'Male',
    secondInfoItem: '02 months',
  },
  {
    name: 'MO512 - Alaskan Malamute Grey',
    price: '8.900.000 VND',
    image: '/image/pet/image-3.png',
    firstInfoItem: 'Male',
    secondInfoItem: '02 months',
  },
  {
    name: 'MO231 - Pembroke Corgi Cream',
    price: '7.900.000 VND',
    image: '/image/pet/image-4.png',
    firstInfoItem: 'Male',
    secondInfoItem: '02 months',
  },
  {
    name: 'MO502 - Pembroke Corgi Tricolor',
    price: '9.000.000 VND',
    image: '/image/pet/image-5.png',
    firstInfoItem: 'Female',
    secondInfoItem: '02 months',
  },
  {
    name: 'MO231 - Pomeranian White',
    price: '6.500.000 VND',
    image: '/image/pet/image-6.png',
    firstInfoItem: 'Female',
    secondInfoItem: '02 months',
  },
  {
    name: 'MO512 - Poodle Tiny Dairy Cow',
    price: '5.000.000 VND',
    image: '/image/pet/image-7.png',
    firstInfoItem: 'Male',
    secondInfoItem: '02 months',
  },





]

const data = [
  {
    name: 'Reflex Plus Adult Cat Food Salmon',
    price: '410.000 VND',
    image: '/image/product/image.png',
    firstInfoItem: 'Product:',
    secondInfoItem: 'Cat Food',
    thirdInfoItem: 'Size:',
    fourthInfoItem: '385gm',
  },
  {
    name: 'Reflex Plus Adult Cat Food Salmon',
    price: '140.000 VND',
    image: '/image/product/image-1.png',
    firstInfoItem: 'Product:',
    secondInfoItem: 'Dog Food',
    thirdInfoItem: 'Size:',
    fourthInfoItem: '385gm',
  },
  {
    name: 'Cat scratching ball toy kitten sisal rope ball',
    price: '165.000 VND',
    image: '/image/product/image-2.png',
    firstInfoItem: 'Product:',
    secondInfoItem: 'Toy',
  },
  {
    name: 'Cute Pet Cat Warm Nest',
    price: '1.100.000 VND',
    image: '/image/product/image-3.png',
    firstInfoItem: 'Product:',
    secondInfoItem: 'Toy',
  },
  {
    name: 'NaturVet Dogs - Omega-Gold Plus Salmon Oil',
    price: 'Free Cat Food',
    image: '/image/product/image-4.png',
    firstInfoItem: 'Product:',
    secondInfoItem: 'Dog Food',
    thirdInfoItem: 'Size:',
    fourthInfoItem: '385gm',
  },
  
]

</script>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.latest-pets-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-size: 16px;
  color: $black;
  margin: 0;
  margin-bottom: 4px;
}

.article-title {
  font-size: 24px;
  margin: 0;
  color: $primary-color;
}

.pets-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.view-more-button-mobile {
  display: none;
}



@media screen and (max-width: 768px) {

  .section-title {
    font-size: 14px;
  }

  .article-title {
    font-size: 20px;
  }

  .view-more-button {
    display: none;
  }

  .view-more-button-mobile {
    margin-top: 18px;
    display: block;

    button {
      width: 100%;
    }
  }

}
</style>