<template>
  <section class="container partner-section">
    <article class="partner-article">
      <span class="section-title">Proud to be part of <span class="article-title">Pet Sellers</span>
      </span>
      <div class="view-more-button">
        <UButton variant="outline">
          View all our sellers
          <IconArrowRight />
        </UButton>
      </div>
    </article>

    <article class="partner-logos">
      <template v-for="partner in partners">
        <img :src="partner.image" alt="partner" />
      </template>
    </article>


  </section>
</template>

<script setup lang="ts">
const partners = [
  {
    image: '/image/partner/image-4.png'
  },
  {
    image: '/image/partner/image-6.png'
  },
  {
    image: '/image/partner/image-7.png',
  },
  {
    image: '/image/partner/image-8.png',
  },
  {
    image: '/image/partner/image-9.png',
  },
  {
    image: '/image/partner/image-10.png'
  },
  {
    image: '/image/partner/image-11.png'
  },
]
</script>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.partner-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-size: 16px;
  color: $black;
  margin: 0;
  margin-bottom: 4px;
}

.article-title {
  font-size: 24px;
  margin: 0;
  color: $primary-color;
  font-weight: 700;
  margin-left: 4px;
}

.partner-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.view-more-button-mobile {
  display: none;
}

.partner-logos {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;

  img {
    margin-right: 20px;
    margin-bottom: 20px;
  }

}



@media screen and (max-width: 768px) {
  .partner-section {
    display: none;
  }
}
</style>