<template>
  <section class="container latest-product-section">
    <p class="section-title">Hard to choose right products for your pets?</p>
    <article class="product-article">
      <h2 class="article-title">Our Products</h2>
      <div class="view-more-button">
        <UButton variant="outline">
          View more
          <IconArrowRight />
        </UButton>
      </div>
    </article>
    <UCardList :data="data" first-info-title="Product" second-info-title="Size" />
  </section>
</template>

<script setup lang="ts">

const data = [
  {
    name: 'Reflex Plus Adult Cat Food Salmon',
    price: '140.000 VND',
    image: '/image/product/image.png',
    firstInfoItem: 'Dog Food',
    secondInfoItem: '385gm',
    bonus: 'Free Toy & Free Shaker'
  },
  {
    name: 'Reflex Plus Adult Cat Food Salmon',
    price: '165.000 VND',
    image: '/image/product/image-1.png',
    firstInfoItem: 'Cat Food',
    secondInfoItem: '1.5kg',
    bonus: 'Free Toy & Free Shaker'
  },
  {
    name: 'Cat scratching ball toy kitten sisal rope ball',
    price: '1.100.000 VND',
    image: '/image/product/image-2.png',
    firstInfoItem: 'Toy',
    bonus: 'Free Cat Food'
  },
  {
    name: 'Cute Pet Cat Warm Nest',
    price: '410.000 VND',
    image: '/image/product/image-3.png',
    firstInfoItem: 'Toy',
    bonus: 'Free Cat Food'
  },
  {
    name: 'NaturVet Dogs - Omega-Gold Plus Salmon Oil',
    price: '350.000 VND',
    image: '/image/product/image-4.png',
    firstInfoItem: 'Dog Food',
    secondInfoItem: '385gm',
    bonus: 'Free Toy & Free Shaker'
  },
  {
    name: 'Costumes Fashion Pet Clother Cowboy Rider',
    price: '500.000 VND',
    image: '/image/product/image-5.png',
    firstInfoItem: 'Costume',
    secondInfoItem: '1.5kg',
    bonus: 'Free Toy & Free Shaker'
  },
  {
    name: 'Costumes Chicken Drumstick Headband',
    price: '400.000 VND',
    image: '/image/product/image-6.png',
    firstInfoItem: 'Costume',
    secondInfoItem: 'Dog Food',
    bonus: 'Free Cat Food'
  },

  {
    name: 'Plush Pet Toy',
    price: '250.000 VND',
    image: '/image/product/image-7.png',
    firstInfoItem: 'Toy',
    bonus: 'Free Toy & Free Shaker'
  },
]
</script>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.latest-product-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-size: 16px;
  color: $black;
  margin: 0;
  margin-bottom: 4px;
}

.article-title {
  font-size: 24px;
  margin: 0;
  color: $primary-color;
}

.product-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

@media screen and (max-width: 768px) {

  .latest-product-section {
    display: none;
  }
}
</style>