<template>
  <div class="container">
    <div class="promo-banner">
      <div class="promo-banner-content">
        <h1 class="banner-title">One more friend</h1>
        <h2 class="banner-subtitle">Thousands more fun!</h2>
        <p class="banner-description">
          Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We
          have 200+ different pets that can meet your needs!
        </p>
        <div class="promo-buttons">
          <UButton variant="outline">
            View Intro
            <IconPlay />
          </UButton>
          <UButton>
            Explore Now
          </UButton>
        </div>
      </div>
    </div>
  </div>

</template>

<style lang="scss" scoped>
@import '~/assets/css/color.scss';

.promo-banner-content {
  max-width: 400px;
  width: 100%;
  margin-left: auto;

}

.promo-banner {

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 80px;
  width: 100%;
  height: 378px;
  background: url('/image/banner/banner-1.png') no-repeat;
  background-size: cover;
  border-radius: 20px;
  text-align: right;
  background-position: right center;
}

.banner-title {
  font-size: 52px;
  font-weight: 800;
  margin: 0;
  color: $text-primary;
}

.banner-subtitle {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 24px;
  color: $text-primary;
}

.banner-description {
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
  color: $text-body;
}

.promo-buttons {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .promo-banner {
    padding: 40px;
  }

  .banner-title {
    font-size: 48px;
  }

  .banner-subtitle {
    font-size: 32px;
  }

  .banner-description {
    font-size: 14px;
  }


}

@media screen and (max-width: 600px) {

  .promo-banner-content {
    width: 100%;
    margin: 0 auto;
  }

  .promo-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .promo-banner {
    display: block;

    padding: 32px 16px;
    height: 640px;
    background: url('/image/banner/banner-1-mobile.png') no-repeat top center;
    background-size: cover;
    text-align: center;
  }


  .banner-title {
    font-size: 36px;
  }

  .banner-subtitle {
    font-size: 24px;
  }

  .banner-description {
    font-size: 12px;
  }

}
</style>