@use '../../../assets/css/color.scss' as *;

.u-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px 12px 16px;
  gap: 12px;

  height: 44px;

  background: #FDFDFD;
  border: 1px solid $text-grey;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;

  &:focus-within {
    border: 1px solid red;
  }

  &:focus, &:focus-visible {
    border: 1px solid $primary-color;
  }


  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--rounded {
    border-radius: 9999px;
    border: none;
  }

  &__icon-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
  }
}

.u-input--icon {
  .u-input {
    padding-left: 42px;
  }
}


.u-input-wrapper {
  position: relative;
}