<template>
  <div class="u-input-wrapper" :class="$slots.icon ? 'u-input--icon' : ''">
    <div v-if="$slots.icon" class="u-input__icon-inner">
      <slot name="icon" />
    </div>
    <input :class="inputClass" :value="value" :disabled="disabled" v-bind="$attrs" @input="onInput" :aria-label="ariaLabel" />
  </div>
</template>

<script setup lang="ts">
import type { InputRounded } from './Input.types';
import config from './Input.config'

const emit = defineEmits(['update:modelValue'])
const props = defineProps({
  modelValue: {
    type: String,
    default: null,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  isRounded: {
    type: Boolean as PropType<InputRounded>,
    default: () => config.default.isRounded,
  },
  ariaLabel: {
    type: String,
    default: '',
  },
})


const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  },
})

const onInput = (event: Event) => {
  emit('update:modelValue', (event?.target as HTMLInputElement)?.value)
}

const inputClass = computed(() => [
  'u-input',
  `${props.isRounded ? 'u-input--rounded' : ''}`,
])

</script>


<style lang="scss" src="./Input.styles.scss" />